<div>
    <h1>Esto es el dashBoard de ADMIN</h1>
    <p>Hola, {{user.name}}</p>

    <p> En este dashBoard, podes hacer un CRUD completo de los Productos</p>

    <br>

    <p> Profile-dashBoard: <a href="/api/users">Ingresa</a></p>
    <p> <a href="/api/sessions/logout">Logout</a></p>
</div>
<script src="/js/admin.js"></script>